body{
background-color: #FADADA  ;
}

.float-end{
position: static;
float: right;
}

.grid-container{
display: grid;
grid-template-areas: 
'nav nav nav'
'leftside article rightside'
'footer footer footer';
}

nav{
    grid-area: nav;
    background-color: #F2F3C5;

}

.Rightside{
grid-area: rightside;
}

article{
grid-area: article;
background-color:#F2F3C5 ;
padding: 30px;
width: 80% center;
margin: 20px;
border: #FADADA 5px;


}

footer{
grid-area: footer;
background-color:#F2F3C5 ;
position: static;
width: 100%;
padding: 5px;
margin: 0px;
}

ul{
list-style: none;
}

li{

}

h1{
    text-align: center;
    font-family: Italiana;
}

h2{
   text-align: center;
   font-family: nått; 
}

.vader-ikon{
  position: static;
  float: right;
}


.dropbtn {
    background-color: #F2F3C5;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2F3C5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
   
  .dropdown-content a:hover {background-color: #FADADA;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #F2F3C5;} 