body{
background-color: #FADADA ;
}

.grid-container{
display: grid;
grid-template-areas: 
'header header header'
'nav article rightside'
'footer footer footer';
}


header{
grid-area: header;

}

nav{
    grid-area: nav;
}

.Leftside{
grid-area: leftside;
}

.Rightside{
grid-area: rightside;
}

article{
grid-area: article;
background-color:#F2F3C5 ;
padding: 10px;
width: 200pxs;
}

footer{
grid-area: footer;
background-color:#F2F3C5 ;
position: absolute;
bottom: 0;
width: 100%;
}

ul{
list-style: none;
}

li{

}

h1{
    text-align: center;
    font-family: Italiana;
}

h2{
   text-align: center;
   font-family: nått; 
}

